### Django ###
*.log
*.pot
*.pyc
__pycache__/


# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
/static/
/dvs_db_backup/
naxa_utilities/local_setting.py
media

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files

# Distribution / packaging

MANIFEST




# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env


# Spyder project settings

# Rope project settings

# mkdocs documentation

# mypy

# Pyre type checker

# Docker
docker-compose.yml
postgres-data
Dockerfile

#IDE
.idea

django_env
docker-compose.yml
Dockerfile.postgis
postgis_env
.backup/



